[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pylint = "*"

[packages]
django = "*"
django-crispy-forms = "*"
pillow = "*"
dj-database-url = "*"
gunicorn = "*"
boto = "*"
boto3 = "*"
django-storages = "*"
whitenoise = "*"
pipfile = "*"
psycopg2-binary = "*"
django-debug-toolbar = "*"
django-redis = "*"

[requires]
python_version = "3.7"
