[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
django = "*"
django-crispy-forms = "*"
pillow = "*"
dj-database-url = "*"
gunicorn = "*"
psycopg2 = "*"

[requires]
python_version = "3.7"
