{% load static %}
body {
    background: url("/static/img/background_image.jpeg") top / cover;

}
nav a {
    color: #767676 !important;
}

select {
    display: unset;
}

img {
    max-height: fit-content;
}

.logo {
    color: #fd8890;
}

.recipe-logo {
    color: #fdc04c;
}

.background-image {
    background: url("/static/img/background_image.jpeg") top / cover;
    height: 500px;
}

.box {
    background-color: white;
    margin-top: 20px;
    padding-top: 5px;
    padding-bottom: 10px;
}

.home-box {
    background-color: white;
    padding-top: 1px;
}
.text-box{
    margin-top: 150px
}
