{% extends "base.html" %}

{% load static %}

{% block content %}
<div class="container box">
    <div class="container">
        <div class="row">
            <h4>Ingredients</h4>
        </div>
        <div class="row">
            <div class="col s4">
                <form method="GET" action="{% url 'ingredient_list' %}" class="form">
                    <div class="input-group">
                        <input class="form-control" type="text" name="q" placeholder="Search" aria-label="Search" value="{{ request.GET.q }}">

                    </div>
                </form>
            </div>
            <div class="col s6 offset-s2">
                <a  class="btn right orange " href="{% url 'ingredient_new' %}">New Ingredient</a>
            </div>

        </div>
        <div class="row">
            <table border="1">
                <thead>
                    <tr>
                    <th>Name</th>
                    <th>Article Number</th>
                    <th>Cost</th>
                    <th></th>
                    <th></th>
                    </tr>
                </thead>
                <tbody>
                    {% for ingredient in object_list %}
                    <tr>
                    <td>{{ ingredient.name }}</td>
                    <td>{{ ingredient.article_number }}</td>
                    <td>€ {{ ingredient.cost }} per {{ ingredient.amount }} {{ ingredient.get_unit_display }}</td>
                    <td><a href="{% url 'ingredient_edit' ingredient.id %}"><i class="material-icons">edit</i></a></td>
                    <td>
                        <form action="{% url 'ingredient_delete' ingredient.id %}" method="POST" > {% csrf_token %}
                                <button style="display: contents;" type="submit">
                                    <i class="material-icons center" style="color: red">clear</i>
                                </button>
                        </form>
                    </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
         <div class="container">
            {% if is_paginated %}
                <div class="container">
                    <ul class="pagination">
                        {% if page_obj.has_previous %}
                            <li class="waves-effect">
                                <a class="page-link" href="?page={{ page_obj.previous_page_number }}">
                                    <i class="material-icons">chevron_left</i>
                                </a>
                            </li>
                        {% endif %}
                        {% for i in page_obj.paginator.page_range|slice:"0:4" %}
                            <li class="waves-effect {% if page_obj.number == i %}active{% endif %}">
                                <a class="page-link" href="?page={{ i }}">{{ i }}</a>
                            </li>
                        {% endfor %}
                        {% if page_obj.paginator.num_pages > 8 %}
                            <li> . . . </li>
                        {% for i in page_obj.paginator.page_range|slice:"-4:" %}
                            <li class="waves-effect {% if page_obj.number == i %}active{% endif %}">
                                <a class="page-link" href="?page={{ i }}">{{ i }}</a>
                            </li>
                        {% endfor %}
                        {% endif %}
                        {% if page_obj.has_next %}
                            <li class="waves-effect">
                                <a class="page-link" href="?page={{ page_obj.next_page_number }}">
                                    <i class="material-icons">chevron_right</i>
                                </a>
                            </li>
                        {% endif %}
                    </ul>
                </div>
            {% endif %}
        </div>
    </div>
</div>
 {% endblock %}